.my-projects {
    text-align: right;
}
html {
    scroll-behavior: smooth;
}
h4 a {
    color: orange;
    transition: 0.4s;
}
h4 a:hover {
    color: black;
    text-decoration: none;
}
.navigation {
    transition: 0.3s;
}
.navigation:hover {
    background-color: #f8e3d5;
}